body {
	background-color: lightgray; 
}

h4 {
	font-family: "Open Sans", serif;
	font-size: 150%;
	text-align: center;
}

p {
	font-family: "Open Sans", serif;
	font-size: 75%;
}

img {
	height: 200px;
	display: block;
	margin: auto;
}


